<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">
    <title>Document</title>
</head>
 
 <body>
    <h3> just trying out function mechanics.</h3>
    <b>
        How to get selected value in dropdown
        list using JavaScript?
    </b>
    <p> Select one from the given options:<span class="output"></span>
        <select id="select1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </p>
 
 
    <!-- <p> The value of the option selected is:
        <span class="output"></span>
    </p> -->
 
 
    <button onclick="getOption()"> Check option </button>
 
    <script type="text/javascript">
        function getOption() {
            selectElement = 
                  document.querySelector('#select1');
            output = selectElement.value;
            document.querySelector('.output').textContent = output;
        }
    </script>



</script>





</body>
 
</html>
